<nav id="navbar" class="navbar">

    <div class="nav-social mr-auto">
        <a target="_blank" href="https://www.facebook.com/dominik.chylo">
            <span class="fab fa-facebook-f"></span>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/dominik-chylo/">
            <span class="fab fa-linkedin-in"></span>
        </a>
        <a target="_blank" href="https://github.com/dominx99">
            <span class="fab fa-github"></span>
        </a>
    </div>

    <div class="navbar-nav md-show">
        <a href="{{path_for('about.me')}}"><span class="fa fa-user"></span> {{data.static.about}}</a>
        <a href="{{path_for('skills')}}"><span class="fa fa-star"></span> {{data.static.skills}}</a>
        <a href="{{path_for('projects')}}"><span class="fa fa-list-alt"></span> {{data.static.projects}}</a>
        <a href="{{path_for('contact')}}"><span class="fa fa-phone"></span> {{data.static.contact}}</a>
        &nbsp;
    </div>
    <div class="navbar-nav flags">
        <a class="v-center" href="{{path_for('lang.change', {'lang': 'pl'})}}">
            <span class="flag-icon flag-icon-pl"></span>
        </a>
        <a class="v-center" href="{{path_for('lang.change', {'lang': 'en'})}}">
            <span class="flag-icon flag-icon-gb"></span>
        </a>
    </div>

    <span id="navbar-toggle" class="navbar-toggle">
        <span class="fa fa-bars c-pointer md-hidden"></span>
    </span>
</nav>
