{% extends 'layout.twig' %}

{% set then = data['info']['birth'] | date('Y-m-d') %}
{% set now = "now" | date('Y-m-d') %}
{% set diff = date(now).diff(date(then)) %}

{% block content %}

    <h1 class="text-center">Kontakt</h1>

    <div class="row mt-5 wow fadeInUp">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">Wiadomość</div>
                <div class="card-body">
                    <form action="{{path_for('email.send')}}" method="post">

                        <div class="">
                            <label for="from">Email</label>
                            <input type="email" id="from" name="from" placeholder="jan@kowalski.pl" required>
                        </div>


                        <div class="mt-5">
                            <label for="subject">Tytuł</label>
                            <input type="text" id="subject" name="subject" placeholder="Chciałbym Ci zlecić..." required>
                        </div>

                        <div class="mt-5">
                            <label for="body">Treść</label>
                            <textarea id="body" name="body" rows="8" cols="80" placeholder="Tutaj zamieszczam szczegóły projektu..." required></textarea>
                            <button type"submit" class="btn-red mt-4 float-right">
                                Wyślij &nbsp; <span class="fas fa-external-link-alt"></span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mt-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="col-md-6"><a class="d-block" href="tel:{{data['info']['phone']}}">
            <span class="fas fa-phone"></span>
            {{data['info']['phone']}}
        </a></div>
        <div class="col-md-6"><a class="d-block" href="mailto:{{data['info']['email']}}">
            <span class="fas fa-envelope-square"></span>
            {{data['info']['email']}}
        </a></div>
    </div>

{% endblock %}
