<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://chylo.pl/dist/img/projects/portfolio.jpg">
    <meta property="og:description" content="Programowania uczę się od kilku lat. Specjalizuję się w pisaniu backend'u stron internetowych. Obecnie jestem uczniem w technikum informatycznym.">

    <title>{{config['name']}}</title>

    <style>
        .wow {
            visibility: hidden;
        }

        .loader {
            position: fixed;
            background-color: white;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1100;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        body {
            overflow: hidden;
        }

    </style>

    <link rel="stylesheet" href="{{base_url()}}/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="{{base_url()}}/dist/css/animate.min.css">
    <link rel="stylesheet" href="{{base_url()}}/dist/css/flag-icon.min.css">
    <link rel="stylesheet" href="{{base_url()}}/dist/css/main.min.css">

    <link rel="icon" href="{{base_url()}}/dist/img/me.jpg">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114346514-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114346514-1');
    </script>

</head>
<body>
    <div class="layer"></div>

    <div id="loader" class="loader">
        <img src="{{base_url()}}/dist/img/loader-min.gif" alt="">
    </div>

    <div class="container all relative">
        {% include 'partials/navbar.twig' %}
        <img class="avatar" src="{{base_url()}}/dist/img/me.jpg" alt="me">
        <main class="main">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% include 'partials/footer.twig' %}
    </div>

    <script src="{{base_url()}}/dist/js/wow.min.js"></script>
    <script>
        new WOW({
            mobile: false
        }).init();
    </script>
    <script src="{{base_url()}}/dist/js/BigPicture.min.js"></script>
    <script src="{{base_url()}}/dist/js/font-awesome.min.js"></script>
    <script src="{{base_url()}}/dist/js/sidebar.min.js"></script>
    <script src="{{base_url()}}/dist/js/main.min.js"></script>
    <script>
        var loader = document.getElementById('loader');
        loader.style.display = 'none';
        document.getElementsByTagName('body')[0].style.overflow = 'auto';
    </script>
</body>
</html>
