{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-700 ls-1 anton text-center">{{data.static.projects}}</h1>

            <div class="card-columns mt-5">
                {% set i = 0 %}
                {% for project in data.projects %}
                    <div class="card bg-dark-7 wow zoomIn" data-wow-delay="{{ i * 0.1 }}s" data-wow-duration=".8s">
                        <div class="card-header bg-red-7">
                            <a href="{{path_for('projects', {'slug': project.slug})}}">{{project.name}}</a>
                            <a target="_blank" href="{{project.link}}" class="float-right">
                                <span class="fa fa-link"></span>
                            </a>
                        </div>
                        <a href="{{path_for('projects', {'slug': project.slug})}}">
                            <img class="card-img" src="{{base_url()}}/dist/img/projects/thumbs/{{project.images[0]}}" alt="">
                        </a>
                        <div class="card-body">
                            <p>{{project.description.short}}</p>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
