{% extends 'layout.twig' %}

{% block content %}
    <h1 class="text-center text-white anton ls-1 fw-700">{{data.static.skills}}</h1>

    <div class="row mt-5">
        <div class="col-md-6 wow fadeInLeft">
            <div class="card bg-dark-7">
                <h3 class="card-header text-center">Frontend</h3>
                <ul class="card-body ul-skills">
                    {% for skill in data.skills.frontend %}
                        <li>
                            <span>{{skill.name}}</span>
                            <div>
                                {% for i in 1..5 %}
                                    <span class="fas fa-star{{skill.rate >= i ? '' : ' star-empty'}}"></span>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 wow fadeInRight">
            <div class="card bg-red-4">
                <h3 class="card-header text-center">Backend</h3>
                <ul class="card-body ul-skills">
                    {% for skill in data.skills.backend %}
                        <li>
                            <span>{{skill.name}}</span>
                            <div>
                                {% for i in 1..5 %}
                                    <span class="fas fa-star{{skill.rate >= i ? '' : ' star-empty'}}"></span>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="wow fadeInUp text-center">
        <div class="row mt-6">
            <div class="col-md-12">
                <h3 class="text-center">{{data.static.legend}}</h3>
            </div>
        </div>
        <div class="row mt-5 ph-15px">
            {% for level in data.levels %}
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 mt-2">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-6 desktop-text-right phone-text-left">
                            {{level.description}}
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-6 desktop-text-left phone-text-right">
                            {% for i in 1..5 %}
                                <span class="fas fa-star {{level.rate >= i ? "text-yellow" : ""}}"></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
