<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{config['name']}}</title>
    <link rel="stylesheet" href="{{base_url()}}/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="{{base_url()}}/dist/css/fontello.min.css">
    <link rel="stylesheet" href="{{base_url()}}/dist/css/animate.min.css">
    <link rel="stylesheet" href="{{base_url()}}/dist/css/main.min.css">
</head>
<body>
    <div class="layer"></div>

    <div class="container all wow fadeIn relative">
        {% include 'partials/navbar.twig' %}
        <img class="avatar" src="{{base_url()}}/dist/img/me.jpg" alt="me">
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        {% include 'partials/footer.twig' %}
    </div>

    <script src="{{base_url()}}/dist/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="{{base_url()}}/src/assets/js/sidebar.js"></script>
    <script src="{{base_url()}}/dist/js/main.min.js"></script>
</body>
</html>
